{% extends 'base.html' %}
{% block title %}{{ cafe.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-3">
        <img src="{{ cafe.image }}" class="card-img-top" alt="{{ cafe.name }}">
        <div class="card-body">
            <h3 class="card-title">{{ cafe.name }}</h3>
            <p class="card-text"><strong>Location:</strong> {{ cafe.city_area }}</p>
            <p class="card-text">
                <strong>WiFi Quality:</strong>
                <span class="star-rating">
                    {{ cafe.wifi }}
                </span>
            </p>
            <p class="card-text"><strong>Seats:</strong> {{ cafe.sets }}</p>
        </div>
        <div class="card-body card-body-button">
            <a href="{{ cafe.url }}" class="btn btn-map-link" target="_blank">Open Map</a>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ url_for('edit_cafe', id=cafe.id) }}" class="btn btn-outline-custom btn-primary">Edit</a>
            <a href="{{ url_for('delete', id=cafe.id) }}" class="btn btn-outline-custom btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
